In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
874,tt0275847,80000000,145771527,Lilo & Stitch,Chris Sanders|Daveigh Chase|Tia Carrere|David ...,Dean DeBlois|Chris Sanders,He's coming to our galaxy.,A lonely Hawaiian girl named Lilo is being rai...,85,Animation,Walt Disney Pictures|Walt Disney Feature Anima...,6/21/2002,6.9,2002
1320,tt0399201,126000000,162949164,The Island,Ewan McGregor|Scarlett Johansson|Djimon Hounso...,Michael Bay,Your time will come...,Lincoln Six-Echo is a resident of a seemingly ...,136,Action|Thriller|Science Fiction|Adventure,DreamWorks SKG|Warner Bros.|Parkes/MacDonald P...,7/20/2005,6.4,2005
814,tt0999913,25000000,10324441,Straw Dogs,James Marsden|Kate Bosworth|Alexander SkarsgÃ¥...,Rod Lurie,Everyone Has A Breaking Point,L.A. screenwriter David Sumner relocates with ...,110,Thriller,Battleplan Productions,9/16/2011,5.3,2011
201,tt1085492,18000000,266586800,The Prince,Bruce Willis|Jason Patric|John Cusack|Jessica ...,Brian A Miller,Mercy is for the Weak,A family man who turns out to be a retired mob...,93,Thriller|Action,Grindstone Entertainment Group|Emmett/Furla Fi...,8/22/2014,4.6,2014
1540,tt0404390,15000000,9500000,Running Scared,Paul Walker|Cameron Bright|Vera Farmiga|Chazz ...,Wayne Kramer,Every bullet leaves a trail.,"After a drug-op gone bad, Joey Gazelle is put ...",122,Action|Crime|Drama|Thriller,International Production Company|True Grit Pro...,1/6/2006,6.8,2006

In [0]:
data.describe()

# Предобработка

In [4]:
answers = {}  # creating a dictionary for the answers

# add a 'profit' column for futher analysis
data['profit'] = data['revenue'] - data['budget']

# convert release date, given in a string format, into datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

# add a 'month' column
data['month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # +

In [6]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

ВАРИАНТ 2

In [9]:
data.groupby('original_title').budget.sum().sort_values(ascending=False).index[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
answers['2'] = 'Gods and Generals (tt0279111)'  # +

In [11]:
data.query('runtime == runtime.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2

ВАРИАНТ 2

In [20]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [21]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  # +

In [22]:
data.query('runtime == runtime.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [23]:
answers['4'] = '110'  # +

In [24]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [25]:
answers['5'] = '107'  # +

In [26]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [27]:
answers['6'] = 'Avatar (tt0499549)'  # +

In [28]:
data.query('profit == profit.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [29]:
answers['7'] = 'The Lone Ranger (tt1210819)'  # +

In [30]:
data.query('profit == profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [31]:
answers['8'] = '1478'  # +

In [32]:
data[data.profit > 0].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [33]:
answers['9'] = 'The Dark Knight (tt0468569)'  # +

In [34]:
data[data.release_year == 2008].sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [35]:
answers['10'] = 'The Lone Ranger (tt1210819)'  # +

In [36]:
data.query('release_year in [2012, 2013, 2014]').sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [37]:
answers['11'] = 'Drama'  # +

In [38]:
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [43]:
data['genres_split'] = data.genres.str.split('|')
genres_df = data.explode('genres_split')
genres_df.groupby('genres_split').original_title.count(
).sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [39]:
answers['12'] = 'Drama'  # +

In [40]:
profitable_films = data[data.profit > 0]
Counter(profitable_films.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [41]:
answers['13'] = 'Peter Jackson'  # +

In [44]:
data['director_split'] = data.director.str.split('|')
director_df = data.explode('director_split')
director_df.groupby('director_split').revenue.sum(
).sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [45]:
answers['14'] = 'Robert Rodriguez'  # +

In [46]:
action_films = data[data.genres.str.contains('Action', na=False)]
Counter(action_films['director'].str.cat(sep='|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [47]:
answers['15'] = 'Chris Hemsworth'  # +

In [48]:
data_2012 = data[data.release_year == 2012]
data_2012['cast_split'] = data_2012.cast.str.split('|')
cast_df = data_2012.explode('cast_split')
cast_df.groupby('cast_split').revenue.sum(
).sort_values(ascending=False).index[0]

<ipython-input-48-b275dd5668dd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2012['cast_split'] = data_2012.cast.str.split('|')

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [49]:
answers['16'] = 'Matt Damon'  # +

In [50]:
data_top_budget = data[data.budget > data.budget.mean()]
data_cast = data_top_budget[:]
data_cast['cast'] = data_top_budget['cast'].apply(lambda x: x.split('|'))
pd.Series(data_cast['cast'].sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [52]:
answers['17'] = 'Action'  # +

In [53]:
nicolas_cage = data[data.cast.str.contains('Nicolas Cage', na=False)]
Counter(nicolas_cage.genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [54]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'  # +

In [56]:
paramount = data[data.production_companies.str.contains(
    'Paramount Pictures', na=False)]
paramount.groupby(['original_title'])['profit'].sum().sort_values().head(1)

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [57]:
answers['19'] = '2015'  # +

In [58]:
data.groupby(['release_year'])['revenue'].sum(
).sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [59]:
answers['20'] = '2014'  # +

In [60]:
warner_bros = data[data.production_companies.str.contains(
    'Warner Bros', na=False)]
warner_bros.groupby(['release_year'])[
    'profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [61]:
answers['21'] = 'Сентябрь'  # +

In [62]:
Counter(data['month']).most_common(1)

[(9, 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [63]:
answers['22'] = '450'  # +

In [65]:
Counter(data['month'])[6] + Counter(data['month'])[7] + \
    Counter(data['month'])[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [77]:
answers['23'] = 'Peter Jackson'  # +

In [67]:
winter = data.query('month in [1, 2, 12]')
Counter(winter.director.str.cat(sep='|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [78]:
answers['24'] = 'Four By Two Productions'  # +

In [70]:
data['film_name_length'] = data.original_title.apply(lambda x: len(x))
data['production_companies_split'] = data.production_companies.str.split('|')
production_companies_df = data.explode('production_companies_split')
production_companies_df.groupby('production_companies_split').film_name_length.mean(
).sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [79]:
answers['25'] = 'Midnight Picture Show'  # +

In [72]:
data['overview_split'] = data.overview.str.split()
data['overview_lengh'] = data.overview_split.apply(lambda x: len(x))


data['production_companies_split'] = data.production_companies.str.split('|')
production_companies_df = data.explode('production_companies_split')
production_companies_df.groupby('production_companies_split').overview_lengh.mean(
).sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [80]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'  # +

In [74]:
data.sort_values(by='vote_average').tail(
    int(data.original_title.count()/100)).original_title

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [81]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [82]:
# и убедиться что ни чего не пропустил)
len(answers)

26